<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DataEastDatabaseDB" connectionString="Server=DESKTOP-SQ8F5JA\HOMESERVER;Database=DataEastDatabase;Trusted_Connection=True;" providerName="Microsoft.EntityFrameworkCore.SqlClient"/>
  </connectionStrings>
</configuration>